.main-menu {
  height: 100vh;
  padding: 0 !important;
}

.main-menu .row,
.main-menu .col {
  margin: 0;
  padding: 0;
}

.welcome-message {
  margin: 3rem 0 !important;
}

.welcome-message * {
  margin: 0;
  text-align: center;
  color: rgb(82, 82, 82);
}

.welcome-message h4 {
  margin-bottom: 1rem;
}

.modules-area a {
  text-decoration: none;
}

.modules-area .ant-card {
  -webkit-box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.18) !important;
  -moz-box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.18) !important;
  box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.18) !important;
  height: 100%;
}

.modules-area .ant-card-head-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.modules-area .ant-card-head-title svg {
  color: rgb(252, 112, 61);
  height: 2.2rem;
  margin-right: 2rem;
}

.modules-area .ant-card-head-title .card-title-text * {
  margin: 0;
}

.modules-area .ant-card-head-title .card-title-text p {
  font-weight: 100;
  color: rgb(82, 82, 82);
}

.modules-area .functionality-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.modules-area .functionality-container p {
  margin: 0;
  margin-left: 1rem;
}

.modules-area .functionality-container svg {
  color: rgb(252, 112, 61);
}
